<a href="https://colab.research.google.com/github/ziqranprojects/Inventory_projects/blob/main/Analisis_data_perpustakaan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
rekap_df = pd.read_excel('/content/Data Rekap Buku (1).xlsx')

In [ ]:
rekap_df.head(n=5)

,Judul,GMD,Edisi,ISBN,Penerbit,Tahun Terbit,Collation,Nomor Panggil,Bahasa,Kota Terbit,Kelas,Abstrak/Notes,Cover,Pengarang,Statement of Responbility,Subjek,Kode Eksemplar
0,Scientific computing,Text,"Edisi Pertama, Cetakan Pertama",0-07- 112229-X,"McGraw-Hill Companies, Inc.",2002,"xii, 563 halaman; 24 cm",004 HEA s,Inggris,Amerika,4,This bool presents a board overview of numeric...,img234-min.jpg.jpg,Michael T. Heath,<Michael T. Heath>,<buku teknik telekomunikasi>,<A4292>
1,Converged network architectures,Text,"Edisi pertama, percetakan pertama",0-471-20250-9,John Wiley & Sons LTD,2002,"vii, 344 halaman; 25cm",004.652 IBE c,Inggris,Amerika,4.652,This book deals with the different schemes tha...,WhatsApp_Image_2018-03-27_at_11.39.28_AM.jpeg....,Oliver C. Ibe,<Oliver C. Ibe>,<networking & system administration>,<A5243>
2,Metrics and Models in Software Quality Enginee...,Text,Edisi Kedua,978-0-13-398808-6,Addison-Wesley Professional,2005,"xxvii, 532 halaman;",005.1 STE m,Inggris,Amerika,005.1,This is the single best book on software quali...,Metrics_and_Models_in_Software_Quality_Enginee...,Stephen Kan,<Stephen Kan>,NaN,<A7403><A7404><A012139>
3,Handbook Of Database Security: applications an...,Text,NaN,978-0-387-48532-4,"Springer Science + Business Media, LLC.",2008,"v, 577 hlm.; 18x24cm",005.8 MIC h,Inggris,Amerika,005.8,NaN,NaN,Michael Gertz dan Sushil Jajodia,<Michael Gertz><Sushil Jajodia>,<teknik komputer>,<A0069>
4,"Learning PHP, MySQL, JavaScript & CSS",Text,"Cetakan Pertama, Edisi Kedua",978-1-1449-31926-7,O\'REILLY,2012,"xxi, 556 halaman; 25,5 cm",006.76 NIX l,Inggris,Amerika,006.76,"If you're familiar with HTML, using the inform...","51a+IBVwKYL._SX379_BO1,204,203,200_.jpg.jpg",Robin Nixon,<Robin Nixon>,NaN,<A3100>

In [ ]:
rekap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6873 entries, 0 to 6872
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Judul                      6873 non-null   object
 1   GMD                        6873 non-null   object
 2   Edisi                      6657 non-null   object
 3   ISBN                       6496 non-null   object
 4   Penerbit                   6856 non-null   object
 5   Tahun Terbit               6815 non-null   object
 6   Collation                  6758 non-null   object
 7   Nomor Panggil              6873 non-null   object
 8   Bahasa                     6873 non-null   object
 9   Kota Terbit                6786 non-null   object
 10  Kelas                      6873 non-null   object
 11  Abstrak/Notes              6295 non-null   object
 12  Cover                      6673 non-null   object
 13  Pengarang                  6787 non-null   object
 14  Statement of Responbility  6865 non-null   object
 15  Subjek                     6242 non-null   object
 16  Kode Eksemplar             6868 non-null   object
dtypes: object(17)
memory usage: 912.9+ KB

In [ ]:
rekap_df.describe()

,Judul,GMD,Edisi,ISBN,Penerbit,Tahun Terbit,Collation,Nomor Panggil,Bahasa,Kota Terbit,Kelas,Abstrak/Notes,Cover,Pengarang,Statement of Responbility,Subjek,Kode Eksemplar
count,6873,6873,6657,6496,6856,6815,6758,6873,6873,6786,6873,6295,6673,6787,6865,6242,6868
unique,6633,2,621,6061,1397,68,6148,6222,7,135,1327,6166,6398,4874,5005,2567,6868
top,Manajemen pemasaran,Text,"Edisi Pertama, Cetakan Pertama",9790000000000,ANDI,2017,320 halaman; 20 cm.,031 KUS e,Indonesia,Yogyakarta,899.221,"Indonesia merupakan negara yang kaya, dilihat ...",download.jpg.jpg,Wahana Komputer,<Wahana Komputer>,<teknik komputer>,<A013037>
freq,6,6872,2750,135,430,462,8,16,5898,2313,481,8,14,109,110,471,1

In [ ]:
rekap_df.isnull().sum()

Judul                          0
GMD                            0
Edisi                        216
ISBN                         377
Penerbit                      17
Tahun Terbit                  58
Collation                    115
Nomor Panggil                  0
Bahasa                         0
Kota Terbit                   87
Kelas                          0
Abstrak/Notes                578
Cover                        200
Pengarang                     86
Statement of Responbility      8
Subjek                       631
Kode Eksemplar                 5
dtype: int64

In [ ]:
# Merubah tipe data kolom judul

rekap_df["Judul"] = rekap_df["Judul"].astype("string")

In [ ]:
# Convert 'Tahun Terbit' column to numeric, handling errors by coercing them to NaN
rekap_df["Tahun Terbit"] = pd.to_numeric(rekap_df["Tahun Terbit"], errors='coerce')

# Now convert to Int64, ignoring NaNs which are introduced by the previous step
rekap_df["Tahun Terbit"] = rekap_df["Tahun Terbit"].astype('Int64', errors='ignore')

In [ ]:
rekap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6873 entries, 0 to 6872
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Judul                      6873 non-null   string
 1   GMD                        6873 non-null   object
 2   Edisi                      6657 non-null   object
 3   ISBN                       6496 non-null   object
 4   Penerbit                   6856 non-null   object
 5   Tahun Terbit               6814 non-null   Int64
 6   Collation                  6758 non-null   object
 7   Nomor Panggil              6873 non-null   object
 8   Bahasa                     6873 non-null   object
 9   Kota Terbit                6786 non-null   object
 10  Kelas                      6873 non-null   object
 11  Abstrak/Notes              6295 non-null   object
 12  Cover                      6673 non-null   object
 13  Pengarang                  6787 non-null   object
 14  Statement of Responbility  6865 non-null   object
 15  Subjek                     6242 non-null   object
 16  Kode Eksemplar             6868 non-null   object
dtypes: Int64(1), object(15), string(1)
memory usage: 919.7+ KB

In [ ]:
# Menambahkan kolom Book_id pada tabel rekap_df

rekap_df['Book_ID'] = ['BK' + str(i).zfill(4) for i in range(1, len(rekap_df) + 1)]

In [ ]:
# Memeriksa nilai uniq pada kolom bahasa

bahasa = rekap_df["Bahasa"].unique()

bahasa

array(['Inggris', 'Indonesia', 'Indonesia-Inggris', 'Indonesia-Arab',
       'Jawa', 'Indonesia-Korea', 'Bahasa'], dtype=object)

In [ ]:
#Memeriksa nilai unik pada kolom GMD

GMD = rekap_df["GMD"].unique()
GMD

array(['Text', 'GMD'], dtype=object)

In [ ]:
# Mengganti nilai GMD pada kolom GMD menjadi Text

rekap_df['GMD'] = rekap_df['GMD'].replace("GMD", "Text")

In [ ]:
# Menghitung jumlah kemunculan nilai 'ANDI' pada kolom penerbit
jumlah  = rekap_df['Penerbit'].value_counts()['ANDI']

print(jumlah)

430

In [ ]:
# Fungsi Normalisasi
def normalize_text(text):
    text = text.lower()
    text = re.sub(r"[\(\)\[\]\{\}\-\!\:\;]", "", text)
    text = re.sub(r"\bedisi\s*\d*\b|\bcetakan\s*\d*\b|\bmcgraw-hill\b", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    return text

# Terapkan fungsi normalisasi
rekap_df["Judul_Normalized"] = rekap_df["Judul"].apply(normalize_text)

In [ ]:
rekap_df = rekap_df.drop(columns=['Judul'])

In [ ]:
rekap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6873 entries, 0 to 6872
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   GMD                        6873 non-null   object
 1   Edisi                      6657 non-null   object
 2   ISBN                       6496 non-null   object
 3   Penerbit                   6856 non-null   object
 4   Tahun Terbit               6814 non-null   Int64
 5   Collation                  6758 non-null   object
 6   Nomor Panggil              6873 non-null   object
 7   Bahasa                     6873 non-null   object
 8   Kota Terbit                6786 non-null   object
 9   Kelas                      6873 non-null   object
 10  Abstrak/Notes              6295 non-null   object
 11  Cover                      6673 non-null   object
 12  Pengarang                  6787 non-null   object
 13  Statement of Responbility  6865 non-null   object
 14  Subjek                     6242 non-null   object
 15  Kode Eksemplar             6868 non-null   object
 16  Book_ID                    6873 non-null   object
 17  Judul_Normalized           6873 non-null   object
dtypes: Int64(1), object(17)
memory usage: 973.4+ KB

In [ ]:
# Memindahkan posisi index 'Book_ID' dan 'Judul_Normalized'
col = rekap_df.pop("Book_ID")
rekap_df.insert(0, "Book_ID", col)

col = rekap_df.pop("Judul_Normalized")
rekap_df.insert(1, "Judul_Normalized", col)

In [ ]:
# Mengganti nama kolom "Title_Normalized"
rekap_df.rename(columns={'Judul_Normalized': 'Judul'}, inplace=True)

In [ ]:
rekap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6873 entries, 0 to 6872
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Book_ID                    6873 non-null   object
 1   Judul                      6873 non-null   object
 2   GMD                        6873 non-null   object
 3   Edisi                      6657 non-null   object
 4   ISBN                       6496 non-null   object
 5   Penerbit                   6856 non-null   object
 6   Tahun Terbit               6814 non-null   Int64
 7   Collation                  6758 non-null   object
 8   Nomor Panggil              6873 non-null   object
 9   Bahasa                     6873 non-null   object
 10  Kota Terbit                6786 non-null   object
 11  Kelas                      6873 non-null   object
 12  Abstrak/Notes              6295 non-null   object
 13  Cover                      6673 non-null   object
 14  Pengarang                  6787 non-null   object
 15  Statement of Responbility  6865 non-null   object
 16  Subjek                     6242 non-null   object
 17  Kode Eksemplar             6868 non-null   object
dtypes: Int64(1), object(17)
memory usage: 973.4+ KB

In [ ]:
rekap_df["Judul"].duplicated().sum()

np.int64(352)

In [ ]:
rekap_df["Book_ID"].duplicated().sum()

np.int64(0)

In [ ]:
# Menghapus kolom Edisi
rekap_df = rekap_df.drop(columns=['Edisi'])

In [ ]:
# Menghapus duplikat pada kolom judul
rekap_df = rekap_df.drop_duplicates(subset=['Judul'])

In [ ]:
rekap_df.duplicated().sum()

np.int64(0)

In [ ]:
peminjaman_df = pd.read_excel('/content/Data Peminjaman Buku.xlsx')

In [ ]:
peminjaman_df.head(n=5)

,Member Type,Member Name (Singkatan),Item Code,Title,Loan Date,Due Date,Loan Status,Note,Loan Duration
0,MAHASISWA,Dind,A2308,Belajar bisnis di internet,2024-01-02,2024-01-11,1,returned,9
1,MAHASISWA,Dind,A8840,Kalung setengah hati,2024-01-02,2024-01-11,1,returned,9
2,MAHASISWA,Soni,A6725,Treasure island,2024-01-02,2024-01-11,1,returned,9
3,MAHASISWA,Soni,A1047,Tentang kamu,2024-01-02,2024-01-11,1,returned,9
4,MAHASISWA,Malo,A7616,Daun yang jatuh tak pernah membenci angin,2024-01-02,2024-01-11,1,returned,9

In [ ]:
# Memeriksa nilai null pada  data frame peminjaman_df

peminjaman_df.isnull().sum()

Member Type                0
Member Name (Singkatan)    0
Item Code                  0
Title                      0
Loan Date                  0
Due Date                   0
Loan Status                0
Note                       0
Loan Duration              0
dtype: int64

In [ ]:
peminjaman_df.describe()

,Loan Date,Due Date,Loan Status,Loan Duration
count,1990,1990,1990.000000,1990.000000
mean,2024-06-17 09:03:26.231155712,2024-07-18 02:16:02.412060416,0.874874,30.717085
min,2024-01-02 00:00:00,2024-01-11 00:00:00,0.000000,1.000000
25%,2024-03-13 00:00:00,2024-04-01 00:00:00,1.000000,9.000000
50%,2024-05-31 00:00:00,2024-07-03 00:00:00,1.000000,9.000000
75%,2024-09-26 00:00:00,2024-10-21 00:00:00,1.000000,11.000000
max,2024-12-17 00:00:00,2025-06-16 00:00:00,1.000000,182.000000
std,NaN,NaN,0.330944,55.526330

In [ ]:
peminjaman_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Member Type              1990 non-null   object
 1   Member Name (Singkatan)  1990 non-null   object
 2   Item Code                1990 non-null   object
 3   Title                    1990 non-null   object
 4   Loan Date                1990 non-null   datetime64[ns]
 5   Due Date                 1990 non-null   datetime64[ns]
 6   Loan Status              1990 non-null   int64
 7   Note                     1990 non-null   object
 8   Loan Duration            1990 non-null   int64
dtypes: datetime64[ns](2), int64(2), object(5)
memory usage: 140.1+ KB

In [ ]:
# Mengubah tipe data 'Title' menjadi string

peminjaman_df["Title"] = peminjaman_df["Title"].astype("string")

In [ ]:
# Fungsi Normalisasi
def normalize_text(text):
    text = text.lower()
    text = re.sub(r"[\(\)\[\]\{\}\-\!\:\;]", "", text)
    text = re.sub(r"\bedisi\s*\d*\b|\bcetakan\s*\d*\b|\bmcgraw-hill\b", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    return text

# Terapkan fungsi normalisasi
peminjaman_df["Title_Normalized"] = peminjaman_df["Title"].apply(normalize_text)

In [ ]:
peminjaman_df = peminjaman_df.drop(columns=['Title'])

In [ ]:
peminjaman_df = peminjaman_df.drop(columns=['Loan Duration'])

In [ ]:
peminjaman_df['Loan Duration'] = peminjaman_df['Due Date'] - peminjaman_df['Loan Date']

In [ ]:
# Mengganti nama kolom "Title_Normalized"
peminjaman_df.rename(columns={'Title_Normalized': 'Title'}, inplace=True)

In [ ]:
col = peminjaman_df.pop("Title")
peminjaman_df.insert(1, "Title", col)

In [ ]:
peminjaman_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Member Type              1990 non-null   object
 1   Title                    1990 non-null   object
 2   Member Name (Singkatan)  1990 non-null   object
 3   Item Code                1990 non-null   object
 4   Loan Date                1990 non-null   datetime64[ns]
 5   Due Date                 1990 non-null   datetime64[ns]
 6   Loan Status              1990 non-null   int64
 7   Note                     1990 non-null   object
 8   Loan Duration            1990 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(5), timedelta64[ns](1)
memory usage: 140.1+ KB

In [ ]:
peminjaman = peminjaman_df.merge(
    rekap_df,
    left_on="Title",
    right_on="Judul",
    how="left"
).drop(columns=["Judul"])

In [ ]:
peminjaman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Member Type                1990 non-null   object
 1   Title                      1990 non-null   object
 2   Member Name (Singkatan)    1990 non-null   object
 3   Item Code                  1990 non-null   object
 4   Loan Date                  1990 non-null   datetime64[ns]
 5   Due Date                   1990 non-null   datetime64[ns]
 6   Loan Status                1990 non-null   int64
 7   Note                       1990 non-null   object
 8   Loan Duration              1990 non-null   timedelta64[ns]
 9   Book_ID                    1959 non-null   object
 10  GMD                        1959 non-null   object
 11  ISBN                       1930 non-null   object
 12  Penerbit                   1955 non-null   object
 13  Tahun Terbit               1957 non-null   Int64
 14  Collation                  1946 non-null   object
 15  Nomor Panggil              1959 non-null   object
 16  Bahasa                     1959 non-null   object
 17  Kota Terbit                1913 non-null   object
 18  Kelas                      1959 non-null   object
 19  Abstrak/Notes              1853 non-null   object
 20  Cover                      1945 non-null   object
 21  Pengarang                  1919 non-null   object
 22  Statement of Responbility  1958 non-null   object
 23  Subjek                     1791 non-null   object
 24  Kode Eksemplar             1958 non-null   object
dtypes: Int64(1), datetime64[ns](2), int64(1), object(20), timedelta64[ns](1)
memory usage: 390.7+ KB

In [ ]:
unique_count = peminjaman["Book_ID"].nunique()
print("Jumlah nilai unik pada Book_ID:", unique_count)

Jumlah nilai unik pada Book_ID: 987

In [ ]:
peminjaman["Peminjaman_ID"] = peminjaman.index.map(lambda x: f"PMJ-{x+1:04d}")

In [ ]:
col = peminjaman.pop("Peminjaman_ID")
peminjaman.insert(0, "Peminjaman_ID", col)

In [ ]:
peminjaman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Peminjaman_ID              1990 non-null   object
 1   Member Type                1990 non-null   object
 2   Title                      1990 non-null   object
 3   Member Name (Singkatan)    1990 non-null   object
 4   Item Code                  1990 non-null   object
 5   Loan Date                  1990 non-null   datetime64[ns]
 6   Due Date                   1990 non-null   datetime64[ns]
 7   Loan Status                1990 non-null   int64
 8   Note                       1990 non-null   object
 9   Loan Duration              1990 non-null   timedelta64[ns]
 10  Book_ID                    1959 non-null   object
 11  GMD                        1959 non-null   object
 12  ISBN                       1930 non-null   object
 13  Penerbit                   1955 non-null   object
 14  Tahun Terbit               1957 non-null   Int64
 15  Collation                  1946 non-null   object
 16  Nomor Panggil              1959 non-null   object
 17  Bahasa                     1959 non-null   object
 18  Kota Terbit                1913 non-null   object
 19  Kelas                      1959 non-null   object
 20  Abstrak/Notes              1853 non-null   object
 21  Cover                      1945 non-null   object
 22  Pengarang                  1919 non-null   object
 23  Statement of Responbility  1958 non-null   object
 24  Subjek                     1791 non-null   object
 25  Kode Eksemplar             1958 non-null   object
dtypes: Int64(1), datetime64[ns](2), int64(1), object(21), timedelta64[ns](1)
memory usage: 406.3+ KB

In [ ]:
peminjaman["Peminjaman_ID"].duplicated().sum()

np.int64(0)

In [ ]:
peminjaman['Durasi_Peminjaman'] = (pd.to_datetime('2024-12-18') - peminjaman['Loan Date']).dt.days

# Tentukan Status Peminjaman berdasarkan kondisi keterlambatan
def cek_keterlambatan(row):
    if row['Note'] == 'on_loan':
        if row['Member Type'] == 'MAHASISWA' and row['Durasi_Peminjaman'] > 9:
            return 'Terlambat Dikembalikan'
        elif row['Member Type'] == 'KARYAWAN' and row['Durasi_Peminjaman'] > 21:
            return 'Terlambat Dikembalikan'
        elif row['Member Type'] == 'DOSEN' and row['Durasi_Peminjaman'] > 181:
            return 'Terlambat Dikembalikan'
    return 'Tepat Waktu'

peminjaman['Status_Peminjaman'] = peminjaman.apply(cek_keterlambatan, axis=1)

# Menghitung Lama Keterlambatan
def lama_keterlambatan(row):
    if row['Status_Peminjaman'] == 'Terlambat Dikembalikan':
        if row['Member Type'] == 'MAHASISWA' and row['Durasi_Peminjaman'] > 9:
            return row['Durasi_Peminjaman'] - 9
        elif row['Member Type'] == 'KARYAWAN' and row['Durasi_Peminjaman'] > 21:
            return row['Durasi_Peminjaman'] - 21
        elif row['Member Type'] == 'DOSEN' and row['Durasi_Peminjaman'] > 181:
            return row['Durasi_Peminjaman'] - 181
    return 0

peminjaman['Lama_Keterlambatan'] = peminjaman.apply(lama_keterlambatan, axis=1)

In [ ]:
Tipe = peminjaman['Member Type'].unique()
Tipe

array(['MAHASISWA', 'KARYAWAN', 'DOSEN'], dtype=object)

In [ ]:
Status_Peminjaman = peminjaman['Status_Peminjaman'].unique()
Status_Peminjaman

array(['Tepat Waktu', 'Terlambat Dikembalikan'], dtype=object)

In [ ]:
peminjaman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Peminjaman_ID              1990 non-null   object
 1   Member Type                1990 non-null   object
 2   Title                      1990 non-null   object
 3   Member Name (Singkatan)    1990 non-null   object
 4   Item Code                  1990 non-null   object
 5   Loan Date                  1990 non-null   datetime64[ns]
 6   Due Date                   1990 non-null   datetime64[ns]
 7   Loan Status                1990 non-null   int64
 8   Note                       1990 non-null   object
 9   Loan Duration              1990 non-null   timedelta64[ns]
 10  Book_ID                    1959 non-null   object
 11  GMD                        1959 non-null   object
 12  ISBN                       1930 non-null   object
 13  Penerbit                   1955 non-null   object
 14  Tahun Terbit               1957 non-null   Int64
 15  Collation                  1946 non-null   object
 16  Nomor Panggil              1959 non-null   object
 17  Bahasa                     1959 non-null   object
 18  Kota Terbit                1913 non-null   object
 19  Kelas                      1959 non-null   object
 20  Abstrak/Notes              1853 non-null   object
 21  Cover                      1945 non-null   object
 22  Pengarang                  1919 non-null   object
 23  Statement of Responbility  1958 non-null   object
 24  Subjek                     1791 non-null   object
 25  Kode Eksemplar             1958 non-null   object
 26  Durasi_Peminjaman          1990 non-null   int64
 27  Status_Peminjaman          1990 non-null   object
 28  Lama_Keterlambatan         1990 non-null   int64
dtypes: Int64(1), datetime64[ns](2), int64(3), object(22), timedelta64[ns](1)
memory usage: 452.9+ KB

In [ ]:
peminjaman.to_excel('peminjaman.xlsx', index=False)

In [ ]:
# rekap_df.to_excel('rekap_buku.xlsx', index=False)